<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255213915194-dep4a2as0u1m83churpucbe6m311g1nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255213915194-dep4a2as0u1m83churpucbe6m311g1nc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYFm1Ryrdtp973ZZIdHDfVCV554A6A09k</string>
	<key>GCM_SENDER_ID</key>
	<string>255213915194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brewCrew</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-e4097</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-e4097.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255213915194:ios:c63d49e188fe6d1af23903</string>
</dict>
</plist>